.title {
  text-align: center; 
  background-color: gainsboro;
  padding: 0.5rem;
  margin-top: 1rem;
  box-shadow: gray 5px 5px;
}

.box {
    background: white;
    padding: 3.75rem 2.5rem;
    overflow: hidden;
    color: font-color;
    border-radius: 0.25rem;
    box-shadow: gray 5px 5px;
}

.touch {
    border-top: solid 0.3125rem;
    z-index: 2;
}

img.icon {
  width: auto;
  width: 3.75rem;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Blue */
.info {
  border-color: #2196F3;
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color: white;
}